/* Cal Sans (Headings) */

@font-face {
    font-family: 'Cal Sans';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/cal_sans/fonts/otf/CalSans-SemiBold.otf');
}

/* Jost (Logo Font) */

@font-face {
    font-family: 'Jost';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/Jost/static/Jost-Light.ttf');
}

@font-face {
    font-family: 'Jost';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Jost/static/Jost-Regular.ttf');
}

@font-face {
    font-family: 'Jost';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Jost/static/Jost-Medium.ttf');
}

@font-face {
    font-family: 'Jost';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/Jost/static/Jost-Semibold.ttf');
}

@font-face {
    font-family: 'Jost';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Jost/static/Jost-Bold.ttf');
}

/* Zain (Content) */

@font-face {
    font-family: 'Zain';
    font-weight: 200;
    font-display: swap;
    src: url('../fonts/zain/Fonts/TTF/Zain-ExtraLight.ttf');
}
@font-face {
    font-family: 'Zain';
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/zain/Fonts/TTF/Zain-Light.ttf');
}
@font-face {
    font-family: 'Zain';
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/zain/Fonts/TTF/Zain-Regular.ttf');
}
@font-face {
    font-family: 'Zain';
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/zain/Fonts/TTF/Zain-Bold.ttf');
}

/* Headings */
@font-face {
    font-family: 'DM Serif';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/DM_Serif_Text/DMSerifText-Regular.ttf');
}

/*  */

@font-face {
    font-family: 'Hind';
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/Hind_Complete/Fonts/OTF/Hind-Light.otf');
}
@font-face {
    font-family: 'Hind';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Hind_Complete/Fonts/OTF/Hind-Regular.otf');
}
@font-face {
    font-family: 'Hind';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Hind_Complete/Fonts/OTF/Hind-Medium.otf');
}
@font-face {
    font-family: 'Hind';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Hind_Complete/Fonts/OTF/Hind-SemiBold.otf');
}

/*  */

@font-face {
    font-family: 'Inter';
    font-weight: 100 900;
    font-style: normal;
    src: url('../fonts/Inter/Inter-VariableFont_opsz,wght.ttf')
        format('truetype');
}
