/* Headings */

@font-face {
    font-family: 'Nyght Serif';
    font-weight: 200;
    font-style: normal;
    src:
        url('../fonts/nyght_serif/fonts/WEB/NyghtSerif-Light.woff2')
            format('woff2'),
        url('../fonts/nyght_serif/fonts/WEB/NyghtSerif-Light.woff')
            format('woff');
}
@font-face {
    font-family: 'Nyght Serif';
    font-weight: 400;
    font-style: normal;
    src:
        url('../fonts/nyght_serif/fonts/WEB/NyghtSerif-Regular.woff2')
            format('woff2'),
        url('../fonts/nyght_serif/fonts/WEB/NyghtSerif-Regular.woff')
            format('woff');
}
@font-face {
    font-family: 'Nyght Serif';
    font-weight: 500;
    font-style: normal;
    src:
        url('../fonts/nyght_serif/fonts/WEB/NyghtSerif-Medium.woff2')
            format('woff2'),
        url('../fonts/nyght_serif/fonts/WEB/NyghtSerif-Medium.woff')
            format('woff');
}
@font-face {
    font-family: 'Nyght Serif';
    font-weight: 700;
    font-style: normal;
    src:
        url('../fonts/nyght_serif/fonts/WEB/NyghtSerif-Bold.woff2')
            format('woff2'),
        url('../fonts/nyght_serif/fonts/WEB/NyghtSerif-Bold.woff')
            format('woff');
}

/* Body */

@font-face {
    font-family: 'Leggibilmente';
    font-weight: 100 900;
    font-style: normal;
    src: url('../fonts/leggibilmente/variable/Leggibilmente.woff2')
        format('woff2');
}

@font-face {
    font-family: 'Reddit Sans';
    font-weight: 100 900;
    font-style: normal;
    src: url('../fonts/Reddit_Sans/RedditSans-VariableFont_wght.ttf')
        format('truetype');
}

@font-face {
    font-family: 'Jost';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Jost/static/Jost-Medium.ttf');
}

@font-face {
    font-family: 'Jost';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/Jost/static/Jost-Semibold.ttf');
}

@font-face {
    font-family: 'Jost';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Jost/static/Jost-Bold.ttf');
}

@font-face {
    font-family: 'Zain';
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/zain/Fonts/TTF/Zain-ExtraLight.ttf');
}
@font-face {
    font-family: 'Zain';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/zain/Fonts/TTF/Zain-Light.ttf');
}
@font-face {
    font-family: 'Zain';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/zain/Fonts/TTF/Zain-Regular.ttf');
}
@font-face {
    font-family: 'Zain';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/zain/Fonts/TTF/Zain-Bold.ttf');
}

/* Logo */

@font-face {
    font-family: 'Jost';
    font-weight: 100 900;
    font-style: normal;
    src: url('../fonts/Jost/Jost-VariableFont_wght.ttf');
}

/* Headings */
@font-face {
    font-family: 'DM Serif';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/DM_Serif_Text/DMSerifText-Regular.ttf');
}
